<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
</head>
<body>
<% include partials/menu %>

<div class="container-fluid bg-3 text-center">    
  <h3><%= page %></h3><br>
  <div class="row">
      <img src='img/gijoe.jpg' id="myFace" style='margin:auto;'>
      <h3>Mike Huang</h3>
      <p><a href="https://github.com/MikeTheBigBrother/" target="_blank">My github</a></p>
  </div>
</div>

</body>
<% include partials/script %>

<footer>
  <% include partials/footer %>
</footer>
</html>